*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

/* ===== Accordion ===== */

.wrapper {
}
.accordion {
}
.accordion-item {
    margin-bottom: 20px;
}

.accordion-item__trigger {
    padding: 20px;
    border: 1px solid #000;
}
.accordion-item__content {
    padding: 20px;
    border: 1px solid #000;
    border-top: none;
    display: none;
}
